<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hipchat.client.invite.teammate.viewed</key>
	<dict>
		<key>properties</key>
		<array>
			<string>client</string>
			<string>isAdmin</string>
		</array>
	</dict>
	<key>hipchat.client.invite.teammate.clicked</key>
	<dict>
		<key>properties</key>
		<array>
			<string>client</string>
			<string>isAdmin</string>
		</array>
	</dict>
</dict>
</plist>
